/* COLORS */
:root{
    --bg-color: #f1f1f1;
    --bg-color-2 : rgb(25, 25, 25);
    --bg-color-3 : rgb(200, 200, 200);
    --tag-color-1 : rgb(255, 0, 0);
    --tag-color-2 : rgb(0, 255, 255);
    --tag-color-3 : rgb(249, 249, 0);
    --tag-color-4 : rgb(8, 0, 255);
    --font-color-white : rgb(250, 250, 250);
    --font-color-black : rgb(25, 25, 25);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YESGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: none;
}

/* Main Screen Styling */
.intro-page-container{
    position: absolute;
    top: 0vh;
    transition: all 1s cubic-bezier(.76,-0.01,.23,1);
    /* opacity: 0%; */
}

/* ESC BTN */
.intro-esc-btn{
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    /* transition: all 0.3s cubic-bezier(.76,-0.01,.23,1); */

}
.intro-esc-btn:hover{
    width: 2.5rem;
    height: 2.5rem;
}
.fourth{
    top:50%;
    left: 50%;
}

.third{
    top: 50%;
    left: 0%;
}
.second{
    top: 0%;
    left: 50%;
}
/* TOP CONTAINER */
.top-container{
    height: 50vh;
    width: 100vw;
    display: flex;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
    /* background-color: var(--bg-color); */
    /* z-index: -10; */
}
.intro-top-left-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-top-right-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-project-overview-btn, .intro-project-timeline-btn{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: lighter;
    font-size: 1.3rem;
}
.intro-project-overview-btn:hover, .intro-project-timeline-btn:hover{
    color: #f1f1f1;
    background-color: rgb(25, 25, 25);
    text-decoration: underline;
}


/* BOTTOM CONTAINER */
.bottom-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.intro-bottom-left-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-project-links-btn, .intro-project-bio-btn{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: lighter;
    font-size: 1.3rem;
}
.intro-project-links-btn:hover, .intro-project-bio-btn:hover{
    color: #f1f1f1;
    background-color: rgb(25, 25, 25);
    text-decoration: underline;
}
.music-container{
    display: none;
    width: 90%;
}
.music-desc-container{
    padding: 0.5rem 0rem;
}
.music-description{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: lighter;
    font-size: 0.9rem;
}
.music-title-container{
    /* border-bottom: 1px solid rgb(25, 25, 25); */
    display: flex;
    justify-content: center;
    align-items: center;

}

.music-title{
    font-family: 'ChosunSg';
    /* font-weight: lighter; */
    padding: 0.5rem 0rem;
    font-size: 1.3rem;
    /* background-color: ; */
    /* border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid; */
    color: black;
    
}
.tracklist{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.track-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.track-title{
    font-family: 'ChosunSg';
    font-weight: lighter;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    width: 20rem;
}
.track-time{
    font-family: 'ChosunSg';
    font-weight: lighter;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
}
.track-container:hover{
    /* background-color: var(--bg-color-3); */
    text-decoration: 1px underline;
}
.intro-bottom-right-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio-container{
    display: none;
    width: 90%;
}
.esc-container{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 52vh;
    right: 0;
}
.esc-container:hover .esc-1, .esc-2{
    background-color: white;
}
.esc-1, .esc-2{
    width: 25px;
    height: 1px;
    background-color: black;
}
.esc-1{
    transform: rotate(45deg) translateY(50%);
}
.esc-2{
    transform: rotate(-45deg) translateY(-50%);
}
.bio-english{
    line-height: 150%;
    padding: 0.5rem;
    font-family: 'ChosunSg';
    font-size: 1.1rem;
    font-weight: lighter;
    /* float: right; */
}
.bio-korean{
    line-height: 150%;
    font-family: 'ChosunSg';
    padding: 0.5rem;
    /* color: rgb(25, 25, 25); */
    /* float: right; */
    font-size: 1.1rem;
    font-weight: 300;
}
.bio-english::selection{
    background-color: var(--bg-color);
}
.bio-korean::selection{
    background-color: var(--bg-color);
}
.underlined{
    text-decoration: 1px underline;
}
hr{
    height: 1px;
    background-color: rgb(25, 25, 25);
    border: none;
}

/* BACKGROUNDS */
.bg-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}
.intro-bg-top-container{
    position: absolute;
    display: flex;
    top: 0vw;
    left: 0vh;
    width: 100vw;
    height: 50vh;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.intro-bg-bottom-container{
    position: absolute;
    display: flex;
    top: 50vh;
    left: 0vh;
    width: 100vw;
    height: 50vh;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.intro-top-bg{
    width: 50%;
    height: 100%;
    opacity: 100%;
    overflow:hidden;
    transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
}
/* .intro-top-bg:hover{
    width: 100vw;
    height: 100vh;
} */
.intro-top-right-bg{
    width: 50%;
    height: 100%;
    opacity: 100%;
    overflow:hidden;
    background-color: var(--bg-color-3);
    transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.intro-bottom-bg{
    width: 50%;
    height: 100%;
    z-index: -100;
    background-color: var(--bg-color-3);
    transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
    /* transition: all 0.3s cubic-bezier(.76,-0.01,.23,1); */
}
.intro-bottom-right-bg{
    width: 50%;
    height: 100%;
    transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.links-container{
    display: none;
    justify-content: center;
    align-items: center;
}
.links-list{
    /* display: flex; */
    list-style: none;
}
.links-list li{
    margin: 1rem;
    transition: all 0.15s cubic-bezier(.76,-0.01,.23,1);
}
.link{
    color: var(--font-color-black);
    font-family: 'ChosunSg';
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: lighter;
    /* padding: 0rem 0.5rem; */
    cursor: none;
}
.links-list li:hover .link{
    background-color: rgb(250, 250, 250);
    color: rgb(25, 25, 25);
    text-decoration: underline 1px rgb(25, 25, 25);
}


/* CURSOR */
.cursor-container{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.cursor{
    /* background-color: var(--bg-color-2); */
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
    
}
.cursor-img{
    width: 20px;
    height: 20px;
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
    animation: rotate_image 2s linear infinite;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}


/* MUSIC BAR DESIGN */

.music-bar-container{
    position: absolute;
    bottom: -10%;
    background-color: var(--bg-color);
    width: 100vw;
    transition: all 0.8s ease-in-out;
    display: none;
}
.music-bar-box{
    display: flex;
    justify-content: center;
    padding: 0.7rem;
}
.music-bar-track-title-box{
    width: 20rem;
    /* border-right: 1px solid ; */
}
.music-bar-track-title{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0.1rem 0.5rem;
}
.music-bar-playpause-box{
    display: flex;
}

.music-bar-prev-btn, .music-bar-playpause-btn, .music-bar-next-btn{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0.1rem 2rem;
}
.music-bar-prev-btn:hover, .music-bar-playpause-btn:hover, .music-bar-next-btn:hover{
    text-decoration: 2px underline black;
}


/* PROJECT SECTION */

.project-page-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    cursor: grab;
    transition: all 0.5s cubic-bezier(.76,-0.01,.23,1);
    opacity: 0%;
}

.top-sections-container{
    display: flex;
    width: 100vw;
    height: 50vh;
    /* background-color: aqua; */

}

.bottom-sections-container{
    display: flex;
    width: 100vw;
    height: 50vh;
    /* background-color: blanchedalmond; */
}

.sec-1, .sec-2, .sec-3, .sec-4{
    width: 50%;
    height: 100%;
    opacity: 100%;
    /* background-color: black; */
}

/* SINGLE PROJECT STYLE */
.project-front-container{
    opacity: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.project-cursor-left{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    opacity: 20%;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    margin-left: 2rem;
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.project-cursor-right{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    margin-right: 2rem;
    opacity: 20%;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.project-cursor-left:hover, .project-cursor-right:hover{
    opacity: 100%;
    filter: invert(100%);
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: invert(0%);
    position: absolute;
    opacity: 100%;
    top: 0%;
    left: 0%;
    transition: all 0.5s cubic-bezier(.76,-0.01,.23,1);
    cursor: zoom-in;
}
.project-img:hover{
    /* filter: invert(100%); */
}
.project-vid{
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: grayscale(0%);
    position: absolute;
    top: 0%;
    left: 0%;
    cursor: zoom-in;
    /* transition: all 0.3s cubic-bezier(.76,-0.01,.23,1); */
}
/* .project-img:hover{
    filter: grayscale(0%);
} */

.project-back-container{
    opacity: 0%;
    position: absolute;
    width: 50%;
    height: 50%;
    overflow-y: scroll;
    display: none;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
    /* background-color: aqua; */
}
.one{
    top: 0%;
    left: 0%;
}
.two{
    top: 0%;
    left: 50%;
}
.three{
    top: 50%;
    left: 0%;
}
.four{
    top: 50%;
    left: 50%;
}
.esc-one{
    bottom: 0%;
    right: 0%;
}
.esc-two{
    bottom: 0%;
    left: 0%;
}
.esc-three{
    top: 0%;
    right: 0%;
}
.esc-four{
    top: 0%;
    left: 0%;
}
.project-esc-btn{
    position: absolute;
    z-index: 10;
}

.project-esc{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    padding: 0.2rem;
}
.project-esc:hover{
    width: 2.5rem;
    height: 2.5rem;
}
.project-title-container{
    width: 100%;
    /* padding-top: 3rem; */
    display: flex;
    justify-content: center;
}
.project-title{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1.4rem;
    font-weight: lighter;
    border-bottom: 1px solid;
}
.project-index-container{
    width: 100%;
    /* padding-top: 1rem; */
    display: flex;
    justify-content: center;
    
}
.project-index{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1.2rem;
    font-weight: lighter;
    border-bottom: 1px solid;
}
.project-desc-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.project-desc-kr{
    font-family: 'ChosunSg';
    font-size: 1.1rem;
    font-weight: lighter;
    /* text-decoration: underline; */
    /* padding: 1rem 0rem; */
    padding-bottom: 1rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid; */
}
.project-desc-en{
    line-height: 130%;
    font-family: 'ChosunSg';
    font-size: 1rem;
    font-weight: lighter;
    /* padding: 1rem 0rem; */
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid; */
}
.project-link-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-link{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
    padding-top: 0.3rem;
    margin: 0rem 0.5rem;
    z-index: 50;
    color: black;
}
.project-link:hover{
    text-decoration: 1px underline;
    color: white;
}
.project-scope-container{
    font-family: 'ChosunSg';
    font-size: 1rem;
    font-weight: lighter;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    /* text-decoration: underline 1px; */
    /* padding-top: 1rem; */
    /* background-color: #f1f1f1; */
}
.project-scope{
    font-family: 'ChosunSg';
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
    padding: 0rem 0.1rem;
    margin: 0rem 0.1rem;
    z-index: 100;
}
.project-scope:hover{
    text-decoration: underline 1px;
}

/* BOTTOM BAR STYLE */
.bottom-bar-container{
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-bar-prev-btn, .bottom-bar-next-btn{
    margin-bottom: 1rem;
    margin: 0rem 1rem;
    width: 35px;
    height: 35px;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
}
.bottom-bar-prev-btn:hover, .bottom-bar-next-btn:hover{
    filter: invert(100%);
}
.project-page-number{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1rem;
    /* position: fixed; */
   margin: 0.5rem;
    /* left: 50%; */
    /* bottom: 0%; */
    /* transform: translateX(-50%); */
}
/* LOADING BAR */
.projects-loading-bar-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    display: none;
    /* display: none; */
}

.left-loading-bar{
    width: 2rem;
    height: 100vh;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translateX(-70%);
    opacity: 0%;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
}
.right-loading-bar{
    width: 2rem;
    height: 100vh;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    filter: blur(30px);
    transform: translateX(70%);
    opacity: 0%;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
}

/* TOP BAR CONTAINER */


.project-top-bar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* border: 1px solid; */
    padding: 0.5rem;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    /* opacity: 20%; */
    /* transform: translateY(-70%); */
    /* border-bottom: 1px solid rgb(25, 25, 25); */
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
    z-index: 100;
}
.project-top-bar-container:hover{
    transform: translateY(0%);
    opacity: 100%;
}
.project-home-container{
    z-index: 20;
    display: inline-block;
}
.project-home-btn{
    width: 50px;
    height: 50px;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
}
.project-home-container:hover .project-home-btn{
    /* filter: invert(100%); */
    width: 60px;
    height: 60px;
}


/* FOR BELOW 749px below */
.media__screen__container{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
}
.media__screen__notice{
    /* width: 80%; */
    font-family: 'ChosunSg';
    font-size: 1rem;
    font-weight: bold;
    line-height: 200%;
}
@media screen and (max-width: 886px),(max-height: 687px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
        cursor: grab;
    }
    .intro-page-container{
        display: none;
    }
    .project-page-container{
        display: none;
    }
    .media__screen__container{
        width: 100vw;
        height: 100vh;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cursor-container{
        display: none;
    }
    .music__btn{
        display: none;
    }
}

/* MUSIC PLAYER */

.music__container{
    position: absolute;
    bottom: 0%;
    left: 1%;
    /* width: 30vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: grab; */
    margin-bottom: 0.3rem;
    transition: all 0.1s cubic-bezier(.76,-0.01,.23,1);
}
.duration__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.duration__current, .duration__entire{
    font-family: 'ChosunSg';
    font-size: 1.2rem;
    padding: 0rem 0.5rem;
}
.music__btn{
    margin: 0rem;
    width: 25px;
    height: 20px;
    transition: all 0.1s cubic-bezier(.76,-0.01,.23,1);
}
.music__btn:hover{
    filter: invert(100%);
}

/* LOADING PAGE */
.loading__page__container{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(.76,-0.01,.23,1);
}

.loading__img{
    width: 30px;
    height: 30px;
    transition: all 1s cubic-bezier(.76,-0.01,.23,1);
}