/* COLORS */
:root{
    --bg-color: #f1f1f1;
    --bg-color-2 : rgb(25, 25, 25);
    --bg-color-3 : rgb(200, 200, 200);
    --tag-color-1 : rgb(255, 0, 0);
    --tag-color-2 : rgb(0, 255, 255);
    --tag-color-3 : rgb(249, 249, 0);
    --tag-color-4 : rgb(8, 0, 255);
    --font-color-white : rgb(250, 250, 250);
    --font-color-black : rgb(25, 25, 25);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: none;
}

/* Main Screen Styling */
.intro-page-container{
    position: absolute;
    top: 0vh;
    transition: all 1s cubic-bezier(.76,-0.01,.23,1);
    /* opacity: 0%; */
}

/* ESC BTN */
.intro-esc-btn{
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    /* transition: all 0.3s cubic-bezier(.76,-0.01,.23,1); */

}
.intro-esc-btn:hover{
    width: 2.5rem;
    height: 2.5rem;
}
.fourth{
    top:50%;
    left: 50%;
}

.third{
    top: 50%;
    left: 0%;
}
.second{
    top: 0%;
    left: 50%;
}

.intro-contents-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* z-index: -100; */
}
/* TOP CONTAINER */
.top-container{
    height: 50%;
    width: 100%;
    display: flex;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
    /* background-color: var(--bg-color); */
    /* z-index: -10; */
}
.intro-top-left-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-top-right-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}
.intro-project-overview-btn, .intro-project-timeline-btn{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: lighter;
    font-size: 1.6rem;
}
.intro-project-overview-btn:hover, .intro-project-timeline-btn:hover{
    color: #f1f1f1;
    background-color: rgb(25, 25, 25);
    text-decoration: underline 1px;
}


/* BOTTOM CONTAINER */
.bottom-container {
    height: 50%;
    width: 100%;
    display: flex;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.intro-bottom-left-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-project-links-btn, .intro-project-bio-btn{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: lighter;
    font-size: 1.6rem;
}
.intro-project-links-btn:hover, .intro-project-bio-btn:hover{
    color: #f1f1f1;
    background-color: rgb(25, 25, 25);
    text-decoration: underline 1px;
}
.music-container{
    display: none;
    width: 90%;
}
.music-desc-container{
    padding: 0.5rem 0rem;
}
.music-description{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: lighter;
    font-size: 0.9rem;
}
.music-title-container{
    /* border-bottom: 1px solid rgb(25, 25, 25); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   

}

.music-title{
    font-family: 'ChosunSg';
    /* width: 100%; */
    padding: 0.5rem 0rem;
    font-size: 1.3rem;
    color: black;
    
}
.music-introduction-container{
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}
.music-introduction{
    font-family: 'ChosunSg';
    line-height: 150%;
    padding: 0.5rem 0rem;
    font-size: 1vw;
}
.tracklist{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.track-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.track-title{
    font-family: 'ChosunSg';
    font-weight: lighter;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    width: 20rem;
}
.track-time{
    font-family: 'ChosunSg';
    font-weight: lighter;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
}
.track-container:hover{
    /* background-color: var(--bg-color-3); */
    text-decoration: 1px underline;
    color: white;
}
.intro-bottom-right-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.bio-container{
    display: none;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
}
.esc-container{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 52vh;
    right: 0;
}
.esc-container:hover .esc-1, .esc-2{
    background-color: white;
}
.esc-1, .esc-2{
    width: 25px;
    height: 1px;
    background-color: black;
}
.esc-1{
    transform: rotate(45deg) translateY(50%);
}
.esc-2{
    transform: rotate(-45deg) translateY(-50%);
}
.bio-english{
    width: 100%;
    line-height: 150%;
    padding: 0.5rem;
    font-family: 'ChosunSg';
    font-size: 1rem;
    font-weight: lighter;
    /* float: right; */
}
.bio-korean{
    width: 100%;
    line-height: 150%;
    font-family: 'ChosunSg';
    padding: 0.5rem;
    /* color: rgb(25, 25, 25); */
    /* float: right; */
    font-size: 1rem;
    font-weight: 300;
}
.bio-english::selection{
    background-color: var(--bg-color);
}
.bio-korean::selection{
    background-color: var(--bg-color);
}
.bio-plain{
    line-height: 150%;
    font-family: 'ChosunSg';
    /* padding: 0.5rem; */
    /* color: rgb(25, 25, 25); */
    /* float: right; */
    font-size: 1.1vw;
    font-weight: 300;
    display: inline-block;
}
.bio-highlight{
    line-height: 150%;
    font-family: 'ChosunSg';
    text-decoration: underline 1px black;
    /* padding: 0.5rem; */
    color: black;
    /* float: right; */
    font-size: 1.1vw;
    font-weight: 300;
    display: inline-block;
}

.underlined{
    text-decoration: 1px underline;
}
hr{
    height: 1px;
    background-color: rgb(25, 25, 25);
    border: none;
}

/* BACKGROUNDS */
.bg-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}
.intro-bg-top-container{
    position: absolute;
    display: flex;
    top: 0vw;
    left: 0vh;
    width: 100vw;
    height: 50vh;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.intro-bg-bottom-container{
    position: absolute;
    display: flex;
    top: 50vh;
    left: 0vh;
    width: 100vw;
    height: 50vh;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.intro-top-bg{
    width: 50%;
    height: 100%;
    opacity: 100%;
    overflow:hidden;
    transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
}
/* .intro-top-bg:hover{
    width: 100vw;
    height: 100vh;
} */
.intro-top-right-bg{
    width: 50%;
    height: 100%;
    opacity: 100%;
    overflow:hidden;
    background-color: var(--bg-color-3);
    transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.intro-bottom-bg{
    width: 50%;
    height: 100%;
    z-index: -100;
    background-color: var(--bg-color-3);
    transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
    /* transition: all 0.3s cubic-bezier(.76,-0.01,.23,1); */
}
.intro-bottom-right-bg{
    width: 50%;
    height: 100%;
    transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.links-container{
    width: 90%;
    display: none;
    justify-content:center;
    align-items: center;
}
.links-list{
    /* display: flex; */
    list-style: none;
}
.links-list li{
    display: flex;
    justify-content: center;
    margin: 1rem;
    transition: all 0.15s cubic-bezier(.76,-0.01,.23,1);
}
.link{
    color: var(--font-color-black);
    font-family: 'LeferiPoint-WhiteObliqueA';
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: lighter;
    /* padding: 0rem 0.5rem; */
    cursor: none;
    transition: all 0.15s cubic-bezier(.76,-0.01,.23,1);
}
.links-list li:hover .link{
    color: white;
    text-decoration: underline 1px white;
}
/* .fa-brands{
    font-size: ;
} */


/* CURSOR */
.cursor-container{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.cursor{
    /* background-color: var(--bg-color-2); */
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
    
}
.cursor-img{
    width: 20px;
    height: 20px;
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
    animation: rotate_image 2s linear infinite;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}



/* PROJECT SECTION */

.project-page-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    cursor: grab;
    transition: all 0.5s cubic-bezier(.76,-0.01,.23,1);
    opacity: 0%;
}

.top-sections-container{
    display: flex;
    width: 100vw;
    height: 50vh;
    /* background-color: aqua; */

}

.bottom-sections-container{
    display: flex;
    width: 100vw;
    height: 50vh;
    /* background-color: blanchedalmond; */
}

.sec-1, .sec-2, .sec-3, .sec-4{
    width: 50%;
    height: 100%;
    opacity: 100%;
    /* overflow-y: scroll; */
    /* background-color: black; */
}

/* SINGLE PROJECT STYLE */
.project-front-container{
    opacity: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    background-color: white;
}

.project-cursor-left{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    opacity: 0%;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    margin-left: 2rem;
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.project-cursor-right{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    margin-right: 2rem;
    opacity: 0%;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.project-cursor-left:hover, .project-cursor-right:hover{
    opacity: 100%;
    width: 40px;
    height: 40px;
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: invert(0%);
    position: absolute;
    opacity: 100%;
    top: 0%;
    left: 0%;
    transition: all 0.5s cubic-bezier(.76,-0.01,.23,1);
    cursor: zoom-in;
    overflow-y: hidden;
}

.project-vid{
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: grayscale(0%);
    position: absolute;
    top: 0%;
    left: 0%;
    cursor: zoom-in;
    overflow: hidden;
    /* transition: all 0.3s cubic-bezier(.76,-0.01,.23,1); */
}
.project-front-container:hover .project-cursor-left{
    opacity: 100%;
}
.project-front-container:hover .project-cursor-right{
    opacity: 100%;
}

.project-back-container{
    opacity: 0%;
    position: absolute;
    width: 50%;
    height: 50%;
    overflow-y: scroll;
    display: none;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
    z-index: 9;
    /* background-color: aqua; */
}
.one{
    top: 0%;
    left: 0%;
}
.two{
    top: 0%;
    left: 50%;
}
.three{
    top: 50%;
    left: 0%;
}
.four{
    top: 50%;
    left: 50%;
}
.esc-one{
    bottom: 0%;
    right: 0%;
}
.esc-two{
    bottom: 0%;
    left: 0%;
}
.esc-three{
    top: 0%;
    right: 0%;
}
.esc-four{
    top: 0%;
    left: 0%;
}
.project-esc-btn{
    position: absolute;
    z-index: 5;
}

.project-esc{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    padding: 0.2rem;
}
.project-esc:hover{
    width: 2.5rem;
    height: 2.5rem;
}
.project-title-container{
    width: 100%;
    height: 20%;
    /* padding-top: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-title{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    text-decoration: underline 1px;
}
.project__format__container{
    width: 100%;
    height: 8%;
    display: block;
    position: absolute;
    bottom: 0%;
    pointer-events: none;
    /* padding-bottom: 0.5rem; */
}
.project__format{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'ChosunSg';
    font-size: 1.1rem;
    color: white;
    font-weight: lighter;
    padding: 0.2rem;

    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.project__format__info{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'ChosunSg';
    font-size: 10%;
    font-weight: lighter;

}
.project-front-container:hover .project__format{
    color: black;
}
.project-index-container{
    width: 100%;
    /* padding-top: 1rem; */
    display: flex;
    justify-content: center;
    
}
.project-index{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: lighter;
    /* text-decoration: underline 1px; */
    /* border-bottom: 1px solid; */
}
.project-sub-info-container{
    width: 80%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project-desc-container{
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.project-desc-kr{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid; */
}
.project-desc-en{
    line-height: 140%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.05rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid; */
}
.project-link-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-link{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
    padding-top: 1rem 1rem;
    z-index: 50;
    color: black;
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.project-link-comma{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
    padding-top: 0.3rem;
    margin: 0rem 0.5rem;
    z-index: 50;
    color: black;
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.project-link:hover{
    text-decoration: 1px underline;
    color: white;
}
.project-scope-container{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.1rem;
    /* text-decoration: underline 1px; */
    /* padding-top: 1rem; */
    /* background-color: #f1f1f1; */
}
.project-scope{
    font-family: 'Roboto', sans-serif;
    /* text-decoration: underline 1px; */
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0rem 0.1rem;
    margin: 0rem 0.1rem;
    z-index: 100;
}


/* BOTTOM BAR STYLE */
.bottom-bar-container{
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.bottom-bar-prev-btn, .bottom-bar-next-btn{
    margin-bottom: 1rem;
    margin: 0rem 1rem;
    width: 28px;
    height: 28px;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
}
.bottom-bar-prev-btn:hover, .bottom-bar-next-btn:hover{
    filter: invert(100%);
}
.project-page-number{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1rem;
    /* position: fixed; */
   margin: 0.2rem;
    /* left: 50%; */
    /* bottom: 0%; */
    /* transform: translateX(-50%); */
}
/* LOADING BAR */
.projects-loading-bar-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    display: none;
    /* display: none; */
}

.left-loading-bar{
    width: 2rem;
    height: 100vh;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translateX(-70%);
    opacity: 0%;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
}
.right-loading-bar{
    width: 2rem;
    height: 100vh;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    filter: blur(30px);
    transform: translateX(70%);
    opacity: 0%;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
}

/* TOP BAR CONTAINER */
.project-home-btn{
    display: inline-block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border: solid 1px ;
    border-radius: 30px;
    z-index: 20;
    transition: all 0.1s cubic-bezier(.76,-0.01,.23,1);
}
.project-home-btn:hover{
    color: #f1f1f1;
    border: solid 1px black;
    background-color: black;
}

/* FOR BELOW 749px below */
.media__screen__container{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
}
.media__screen__notice{
    /* width: 80%; */
    font-family: 'ChosunSg';
    font-size: 1rem;
    font-weight: bold;
    line-height: 200%;
}
@media screen and (max-width: 1300px),(max-height: 687px){
    html{
        scroll-behavior: smooth;
    }
    body{
        overflow-y: scroll;
        overflow-x: hidden;
        cursor: grab;
        padding: 0;
    }

    .cursor-container{
        display: none;
    }

    /* BG CHANGE */

    .bg-container{
        position: absolute;
        /* width: 100vw;
        height: 100vh; */
        z-index: -100;
        top: 0;
        left: 0;

    }
    .intro-bg-top-container{
        position: absolute;
        display: inline-block;
        top: 0vw;
        left: 0vh;
        width: 100vw;
        height: 200vh;
        transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
    }
    .intro-bg-bottom-container{
        position: absolute;
        display: inline-block;
        top: 200vh;
        left: 0vh;
        width: 100vw;
        height: 200vh;
        transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
    }
    .intro-top-bg, .intro-top-right-bg{
        width: 100%;
        height: 50%;
        opacity: 100%;
        transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
    }
    .intro-bottom-bg{
        width: 100%;
        height: 50%;
        z-index: -100;
        background-color: var(--bg-color-3);
        transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
        /* transition: all 0.3s cubic-bezier(.76,-0.01,.23,1); */
    }
    .intro-bottom-right-bg{
        width: 100%;
        height: 50%;
        transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
    }

    /* INTRO CONTENTS CHANGE */
    .top-container{
        position: absolute;
        display: inline-block;
        top: 0vw;
        left: 0vh;
        width: 100vw;
        height: 200vh;
        transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
    }
    .bottom-container {
        position: absolute;
        display: inline-block;
        top: 200vh;
        left: 0vh;
        width: 100vw;
        height: 200vh;
        transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
    }

    .intro-top-left-container, .intro-top-right-container{
        width: 100%;
        height: 50%;
        opacity: 100%;
        transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
  
    .intro-bottom-left-container{
        width: 100%;
        height: 50%;
        /* z-index: -100; */
        transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .intro-bottom-right-container{
        width: 100%;
        height: 50%;
        transition: 0.2s cubic-bezier(.76,-0.01,.23,1);
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
    }
    /* CONTENTS STYLING */
    .bio-plain{
        line-height: 150%;
        font-family: 'ChosunSg';
        /* padding: 0.5rem; */
        /* color: rgb(25, 25, 25); */
        /* float: right; */
        font-size: 1.5rem;
        font-weight: 300;
        display: inline-block;
    }
    .bio-highlight{
        line-height: 150%;
        font-family: 'ChosunSg';
        text-decoration: underline 1px black;
        /* padding: 0.5rem; */
        color: black;
        /* float: right; */
        font-size: 1.5rem;
        font-weight: 300;
        display: inline-block;
    }
    .music-title{
        font-family: 'ChosunSg';
        /* font-weight: lighter; */
        padding: 0.5rem 0rem;
        margin-bottom: 3rem;
        font-size: 2rem;
        /* background-color: ; */
        /* border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid; */
        color: black;
        
    }
    .tracklist{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .track-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .track-title{
        font-family: 'ChosunSg';
        font-weight: lighter;
        font-size: 1.7rem;
        padding: 0.5rem 0.5rem;
        width: 20rem;
    }
    .track-time{
        font-family: 'ChosunSg';
        font-weight: lighter;
        font-size: 1.4rem;
        padding: 0.2rem 0.5rem;
    }
    .music-introduction{
        font-family: 'ChosunSg';
        padding: 0.5rem 0rem;
        font-size: 1.4rem;
    }
    /* ESC Styling */
    .intro-esc-btn{
        position: absolute;
        width: 2rem;
        height: 2rem;
        padding: 0.2rem;
        /* transition: all 0.3s cubic-bezier(.76,-0.01,.23,1); */
    
    }
    .intro-esc-btn:hover{
        width: 2.5rem;
        height: 2.5rem;
    }
    .fourth{
        top:0%;
        left: 0%;
    }
    
    .third{
        top: 0%;
        left: 0%;
    }
    .second{
        top: 0%;
        left: 0%;
    }
    /* 프로젝트 화면 스타일링 */
    .project-page-container{
        position: absolute;
        top: 0;
        left: 0;
        /* width: 100vw;
        height: 100vh; */
        display: none;
        cursor: grab;
        transition: all 0.5s cubic-bezier(.76,-0.01,.23,1);
        opacity: 0%;
    }
    
    .top-sections-container{
        position: absolute;
        display: inline-block;
        top: 0vw;
        left: 0vh;
        width: 100vw;
        height: 200vh;
        transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
    
    }
    
    .bottom-sections-container{
        position: absolute;
        display: inline-block;
        top: 200vh;
        left: 0vh;
        width: 100vw;
        height: 200vh;
        transition: opacity 0.5s cubic-bezier(.76,-0.01,.23,1);
    }
    .sec-1, .sec-2, .sec-3, .sec-4{
        width: 100%;
        height: 50%;
        opacity: 100%;
        /* overflow-y: scroll; */
        /* background-color: black; */
    }
    .project-back-container{
        opacity: 0%;
        position: absolute;
        width: 100%;
        height: 50%;
        overflow-y: scroll;
        display: none;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
        /* background-color: aqua; */
    }
    .one{
        top: 0%;
        left: 0%;
    }
    .two{
        top: 50%;
        left: 0%;
    }
    .three{
        top: 0%;
        left: 0%;
    }
    .four{
        top: 50%;
        left: 0%;
    }

    .esc-one{
        top: 0%;
        left: 0%;
    }
    .esc-two{
        top: 0%;
        left: 0%;
    }
    .esc-three{
        top: 0%;
        left: 0%;
    }
    .esc-four{
        top: 0%;
        left: 0%;
    }
    .project-esc-btn{
        position: absolute;
        z-index: 10;
    }
    /* 프로젝트 상단 바 스타일링 */
    .project-home-btn{
        display: inline-block;
        position: fixed;
        left: 100vw;
        font-family: 'LeferiPoint-WhiteObliqueA';
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border: solid 1px ;
        border-radius: 30px;
        transform: translateX(-120%);
        z-index: 20;
        transition: all 0.1s cubic-bezier(.76,-0.01,.23,1);
    }
    /* 프로젝트 하단 바 스타일링 */
    .bottom-bar-prev-btn, .bottom-bar-next-btn{
        margin-bottom: 1rem;
        margin: 0rem 1rem;
        width: 40px;
        height: 40px;
        transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
    }
    .bottom-bar-prev-btn:hover, .bottom-bar-next-btn:hover{
        filter: invert(100%);
    }
    .project-page-number{
        font-family: 'LeferiPoint-WhiteObliqueA';
        font-size: 1.2rem;
        /* position: fixed; */
       margin: 0.5rem;
        /* left: 50%; */
        /* bottom: 0%; */
        /* transform: translateX(-50%); */
    }
    /* 프로젝트 정보 스타일링 */
    .project__format{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'ChosunSg';
        font-size: 1.5rem;
        font-weight: lighter;
        padding: 0.2rem;
        transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
    }
    .project-desc-kr{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: lighter;
        width: 85%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-bottom: 1px solid; */
    }
    .project-desc-en{
        line-height: 160%;
        font-family: 'ChosunSg';
        font-size: 1.5rem;
        font-weight: lighter;
        /* padding: 1rem 0rem; */
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-bottom: 1px solid; */
    }
    .project-scope{
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        font-weight: lighter;
        text-decoration: none;
        padding: 0rem 0.1rem;
        margin: 0rem 0.1rem;
        z-index: 100;
    }
    .project-link{
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        font-weight: lighter;
        text-decoration: none;
        padding-top: 0.3rem;
        margin: 0rem 0.5rem;
        z-index: 50;
        color: black;
        transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
    }
    .project-link-comma{
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        font-weight: lighter;
        text-decoration: none;
        padding-top: 0.3rem;
        margin: 0rem 0.5rem;
        z-index: 50;
        color: black;
        transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
    }
    .project-scope-container{
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        font-weight: lighter;
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.1rem;
        /* text-decoration: underline 1px; */
        /* padding-top: 1rem; */
        /* background-color: #f1f1f1; */
    }
}

/* MUSIC PLAYER */

.music__container{
    position: fixed;
    bottom: 0%;
    left: 1%;
    /* width: 30vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: grab; */
    margin-bottom: 0.3rem;
    transition: all 0.1s cubic-bezier(.76,-0.01,.23,1);
    z-index: 10;
}
.duration__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.duration__current, .duration__entire{
    font-family: 'ChosunSg';
    font-size: 1.2rem;
    padding: 0rem 0.5rem;
}
.music__btn{
    margin: 0rem;
    width: 25px;
    height: 20px;
    transition: all 0.1s cubic-bezier(.76,-0.01,.23,1);
}
.music__btn:hover{
    filter: invert(100%);
}
