/* COLORS */
:root{
    --bg-color: #f1f1f1;
    --bg-color-2 : rgb(25, 25, 25);
    --bg-color-3 : rgb(200, 200, 200);
    --tag-color-1 : rgb(255, 0, 0);
    --tag-color-2 : rgb(0, 255, 255);
    --tag-color-3 : rgb(249, 249, 0);
    --tag-color-4 : rgb(8, 0, 255);
    --font-color-white : rgb(250, 250, 250);
    --font-color-black : rgb(25, 25, 25);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
body{
    overflow-y: hidden;
    cursor: none;
}

/* Main Screen Styling */
.intro-page-container{
    position: absolute;
    top: 0vh;
    transition: all 1s cubic-bezier(.76,-0.01,.23,1);
}
.change-btn{
    position: absolute;
    font-size: large;
    z-index: 100;
    bottom: 0%;
    right: 0%;
}
.change-btn:hover{
    text-decoration: underline;
}
/* YIN YANG */

    /* TOP CONTAINER */
.top-container{
    height: 50vh;
    width: 100vw;
    /* background-color: var(--bg-color); */
    z-index: -10;
}
.bg-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.intro-top-bg{
    position: absolute;
    top: 0vw;
    left: 0vh;
    width: 100vw;
    height: 50vh;
    opacity: 100%;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color: var(--bg-color);
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
    /* transition: all 0.2s cubic-bezier(.76,-0.01,.23,1); */
}
.intro-bottom-bg{
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 50vh;
    left: 0vh;
    opacity: 0%;
    z-index: -100;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
}
.intro-title-1{
    font-family: "Helvetica", 'GothicA1-Light';
    position: relative;
    color: var(--bg-color-2);
    font-size: 7rem;
    font-weight: lighter;
    padding: 0.5rem 1rem;
    transition: all 1s cubic-bezier(0.54, 0.01, 0.46, 0.98) 0s;
    border-radius: 70px;
    border: solid 0.4rem var(--bg-color-2);
}
.intro-title-2{
    font-family: "Helvetica", 'GothicA1-Light';
    position: relative;
    color: var(--bg-color-2);
    font-size: 7rem;
    font-weight: lighter;
    padding: 0.5rem 1rem;
    transition: all 2s cubic-bezier(0.54, 0.01, 0.46, 0.98) 0s;
    border-radius: 70px;
    border: solid 0.4rem var(--bg-color-2);
}
.intro-title-3{
    font-family: "Helvetica", 'GothicA1-Light';
    position: relative;
    color: var(--bg-color-2);
    font-size: 7rem;
    font-weight: lighter;
    padding: 0.5rem 1rem;
    transition: all 3s cubic-bezier(0.54, 0.01, 0.46, 0.98) 0s;
    border-radius: 70px;
    border: solid 0.4rem var(--bg-color-2);
}
.intro-title-logo{
    width: 10%;
    height: 5%;
}
.links-container{
    /* float: right; */
    /* display: flex; */
    /* position: fixed; */
    /* top: 40%; */
    /* right: 0%; */
    /* transform: translateY(-50%); */
}
.links-list{
    display: flex;
    list-style: none;
}
.links-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1.2px rgb(25, 25, 25); */
    /* border-radius: 30px; */
    margin: 0.5rem;
    /* padding: 0.5rem; */
    transition: all 0.15s cubic-bezier(.76,-0.01,.23,1);
}
.link{
    color: var(--font-color-black);
    font-family: "Helvetica";
    text-decoration: none;
    font-size: 1rem;
    font-weight: lighter;
    /* padding: 0rem 0.5rem; */
    cursor: none;
    text-decoration: underline 1px var(--font-color-black);
}
.links-list li:hover{
    background-color: gainsboro;
    color: rgb(250, 250, 250);

}
    /* BOTTOM CONTAINER */
.bottom-container {
    /* border-top: solid 1px rgb(25, 25, 25); */
    height: 50vh;
    width: 100vw;
    opacity: 100%;
    /* background-color: var(--bg-color); */
}

.projects-view-container{
    position: fixed;
    top: 50%;
    left: 0%;
    z-index: 200;
    transform: translateY(-50%);
}
.project-views-list{
    /* display: flex; */
    list-style: none;
    margin-left: 0.5rem;
}
.project-view-index, .project-view-detail, .project-view-home{
    color: rgb(25, 25, 25);
    font-family: "Helvetica";
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1.2px rgb(25, 25, 25);
    border-radius: 30px;
    margin: 0.5rem 0rem;
    padding: 0.5rem 1rem;
    transition: all 1s cubic-bezier(.76,-0.01,.23,1);
    cursor: none;
}
.bio-container{
    margin-left: 50vw;
    margin-top: 2rem;
    width: 50vw;
}
.bio-english{
    padding: 0.5rem;
    font-family: "Helvetica";
    font-size: 1.2rem;
    font-weight: lighter;
    /* float: right; */
}
.bio-korean{
    font-family: 'GothicA1-Light';
    padding: 0.5rem;
    /* color: rgb(25, 25, 25); */
    /* float: right; */
    font-size: 1.2rem;
    font-weight: lighter;
}
.bio-english::selection{
    background-color: var(--bg-color);
}
.bio-korean::selection{
    background-color: var(--bg-color);
}

/* PROJECT FLOW */

.project-wrap{
    position: absolute;
    z-index: -10;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0%;
    width: 100vw;
    height: 100vh;
    transition: all 0.7s cubic-bezier(.76,-0.01,.23,1);
}
.project-page-title-container{
    display: block;
    width: 100%;
}
.project-page-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight: lighter;
}
.project-container{
    width: 98vw;
    height: 98vh;
    /* background-color: #f1f1f1; */
    overflow-y: scroll;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.project-single-container{
    width: 15rem;
    height: 15rem;
    margin: 1rem 3rem;
    transition: all 0.3s cubic-bezier(.76,-0.01,.23,1);
    /* border: solid 1px rgb(25, 25, 25); */
}
.project-single-container:hover{
    filter: drop-shadow(0 0 0.75rem rgb(25, 25, 25));
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
/* INDEX PAGE STYLING */
.index-page-container{
    position: absolute;
    overflow-y: hidden;
    top: 100vh;
    /* left: 0; */
    background-color: var(--bg-color-3);
    width: 100vw;
    height: 100vh;
    transition: all 1s cubic-bezier(.76,-0.01,.23,1);
}
.index-main-content-container{
    /* background-color: blue; */
}
/* INDEX title */
.index-title-container{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.index-title{
    font-family: "Helvetica";
    font-size: 5rem;
    font-weight: lighter;
}
.index-contents-container{
    
}
/* INDEX label */
.index-label-container{
    display: flex;
    justify-content: center;
}
.index-label-list{
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: center;

}
.index-label{
    font-family: "Helvetica";
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0.5rem 0rem;
    /* border-bottom: solid 1px rgb(25, 25, 25); */
    /* background-color: red; */
}
.index-number{
    width: 5%;
    border-bottom: solid 1px rgb(25, 25, 25);
    
}
.index-ptitle{
    width: 50%;
    border-bottom: solid 1px rgb(25, 25, 25);
    /* margin-left: 1rem; */
}
.index-year{
    width: 15%;
    border-bottom: solid 1px rgb(25, 25, 25);
    /* margin-left: 1rem; */
}
.index-tag{
    width: 30%;
    /* margin-left: 1rem; */
    border-bottom: solid 1px rgb(25, 25, 25);
}
.all-project-btn{
    font-family: "Helvetica";
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0.5rem 0rem;
    opacity: 0%;
    position: absolute;
    right: 0;
    margin-right: 3rem;
    border-bottom: solid 1px rgb(25, 25, 25);
    transition: all 0.5s cubic-bezier(.76,-0.01,.23,1);
}
.all-project-btn:hover{
    text-decoration: line-through 1px rgb(25, 25, 25);
}
/* INDEX PROJECT */
.index-project-container{
    display: flex;
    justify-content: center;
    
}
.index-projects-box{
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
}
.index-projects-box::-webkit-scrollbar {
    width: 5px;
  }
.index-projects-box::-webkit-scrollbar-thumb{
    background-color: var(--tag-color-4);
}
.index-single-project-container{
    display: block;
}
.index-project-list{
    display: flex;
    list-style: none;
    justify-content: center;

}
.index-project-list:hover{
    border-bottom: solid 1px rgb(25, 25, 25);
}
.index-project{
    font-family: "Helvetica", 'GothicA1-Light';
    font-size: 1rem;
    font-weight: lighter;
    margin: 0.5rem 0rem;
    display: flex;
    align-items: center;
    /* border-bottom: solid 1px rgb(25, 25, 25); */
    /* background-color: red; */
}
.index-project-number{
    width: 5%;
    font-weight: normal;
    
}
.index-project-title{
    width: 50%;
    
}
.index-project-year{
    width: 15%;
    
}
.index-project-tag{
    
    width: 30%;
}
/* INDEX TAG DESIGN */
.index-tag-container{
    margin: 0rem 0.3rem;
    border-radius: 50px;
    display: inline-block;
    padding: 0.3rem 0.5rem;
}
.index-producer{
    border: solid 1px var(--tag-color-1);
    color: var(--tag-color-1);
}
.index-producer:hover{
    background-color: var(--tag-color-1);
    color: rgb(25, 25, 25);
}
.index-dj{
    border: solid 1px var(--tag-color-2);
    color: var(--tag-color-2);
}
.index-dj:hover{
    background-color: var(--tag-color-2);
    color: rgb(25, 25, 25);
}
.index-designer{
    border: solid 1px var(--tag-color-4);
    color: var(--tag-color-4);
}
.index-designer:hover{
    background-color: var(--tag-color-4);
    color: rgb(25, 25, 25);
}
.index-web{
    border: solid 1px var(--tag-color-3);
    color: var(--tag-color-3);
}
.index-web:hover{
    background-color: var(--tag-color-3);
    color: rgb(25, 25, 25);
}

/* DETAIL PAGE DESIGN */
.detail-page-container{
    background-color: var(--bg-color-2);
    position: absolute;
    top: 200vh;
    width: 100vw;
    height: 100vh;
    transition: all 1s cubic-bezier(.76,-0.01,.23,1);
}
.detail-contents-wrap{
    display: flex;
    /* width: 80%; */
    
    justify-content: center;
    margin-top: 1rem;
    
}
.detail-contents-container{
    height: 85vh;
    overflow-y: scroll;
}
.detail-contents-container::-webkit-scrollbar {
    width: 5px;
  }
.detail-contents-container::-webkit-scrollbar-thumb{
    background-color: var(--bg-color-3);
}
.detail-title{
    font-family: "Helvetica";
    font-size: 5rem;
    font-weight: lighter;
    color: var(--font-color-white);
}
/* DETAIL PROJECT DESIGN */
.detail-project-box{
    padding: 1rem 0rem;
    display: block;
    width: 85vw;
    border-bottom: solid 1px var(--font-color-white);
}
.detail-project-img-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.detail-single-project-container{
    display: flex;
    justify-content: space-around;
}
.detail-web{
    /* border: solid 1px rgb(250, 250, 250); */
    /* border-radius: 30px; */
}
.detail-project-logo{
    position: relative;
    width: 50%;
    /* width: 35rem;
    height: 20rem; */
    
}
.detail-project-img-web{
    width: 32rem;
    height: 18rem;
}
.detail-project-img-poster{
    width: 20rem;
    height: 28rem;
}
.detail-project-img-square{
    width: 20rem;
    height: 20rem;
}
.detail-project-info-container{
    font-family: "Helvetica", 'GothicA1-Light';
    padding: 1rem 1rem;
    width: 50%;
    border-left: solid 1px var(--bg-color);
    /* border-radius: 12% 88% 87% 13% / 10% 64% 36% 90%   ; */
    background-color: var(--bg-color-2);
}
/* DETAIL TAG DESIGN*/
.detail-tag-container{
    margin: 0.5rem 0rem;
    border-radius: 50px;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: lighter;
}
.detail-tag-producer{
    border: solid 1px var(--tag-color-1);
    color: var(--tag-color-1);
}
.detail-tag-dj{
    border: solid 1px var(--tag-color-2);
    color: var(--tag-color-2);
}
.detail-tag-designer{
    border: solid 1px var(--tag-color-4);
    color: var(--tag-color-4);
}
.detail-tag-web{
    border: solid 1px var(--tag-color-3);
    color: var(--tag-color-3);
}
/* DETAIL PROJECT INFO */
.detail-project-number{
    font-size: 3rem;
    font-weight: lighter;
    color: var(--font-color-white);
    text-decoration: underline 1.5px var(--font-color-white);
}
.detail-project-title{
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--font-color-white);
}
.detail-project-desc-container{
    margin: 0.5rem 0rem;
}
.detail-project-desc{
    color: var(--font-color-white);
    font-size: 1rem;
    font-weight: lighter;
}
.detail-project-tool{
    color: var(--font-color-white);
    font-size: 0.9rem;
    font-weight: lighter;
}

/* CURSOR */
.cursor-container{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
}
.cursor{
    z-index: 1000;
    width: 10px;
    height: 10px;
    border: solid 2px var(--bg-color-2);
    border-radius: 0%;
    background-color: var(--bg-color-2);
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);

    animation: rotate_image 2s linear infinite;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

/* SVG */
.detail-img-trans-container{
    position: absolute;
    /* background-color: blueviolet; */
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}
.arrow-container{

}
.object {
    display: inline;
    width: 3rem;
    height: 3rem;
    /* opacity: 20%; */
    cursor: none;
    z-index: 10;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
svg{
    cursor: none;
    pointer-events: none;
    z-index: 10;
}

.l{
    /* margin-right: 25rem; */
    cursor: none;
}
.r{
    /* margin-left: 25rem; */
    cursor: none;
}
.cls-1 {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-miterlimit: 10;
    stroke-width: 5px;
    cursor: none;
}
.detail-left-click{
    transition: all 0.5s cubic-bezier(.76,-0.01,.23,1);
    display: flex;
    align-items: center;
    height: inherit;
    z-index: 500;
    /* background-color: rgb(250, 250, 250); */
    opacity: 30%;
    padding-left: 1rem;
    /* position: absolute; */
}

.detail-right-click{
    transition: all 0.5s cubic-bezier(.76,-0.01,.23,1);
    display: flex;
    /* position: absolute; */
    align-items: center;
    height: inherit;
    z-index: 500;
    /* background-color: rgb(250, 250, 250); */
    opacity: 20%;
    padding-right: 1rem;
}
/* .detail-single-project-container:hover .detail-right-click{
    opacity: 100%;
}
.detail-single-project-container:hover .detail-left-click{
    opacity: 100%;
} */
.detail-left-click:hover{
    /* background-color: rgb(25, 25, 25, 0.5); */
    opacity: 100%;
}
.detail-right-click:hover{
    /* background-color: rgb(25, 25, 25, 0.5); */
    opacity: 100%;
}